<link rel="import" href="../../bower_components/polymer/polymer.html">
<dom-module id="label-maker">

    <template>
            

                <paper-button id="buttonF" raised style="margin: 10px;" on-click="fight">FIGHT !!!</paper-button>
     

    </template>

    <script>
        class LabelMaker extends Polymer.Element {

            static get is() { return 'label-maker'; }

            static get properties() {
                return {
                    item: {
                        type:Object,
                        observer:'tt'
                    }
                };
            }

            fight(e){
                console.log(e.target)
                
            }
            tt(data){
                this.testza = data;
                this.$.buttonF.setAttribute('tokenFcm',data.tokenFcm);
                console.log(this.$.buttonF);
            }

        }

        window.customElements.define(LabelMaker.is, LabelMaker);
    </script>
</dom-module>