<link rel="import" href="../../bower_components/polymer/polymer.html">
<!--<link rel="import" href="../layout/shared-styles.html">-->

<link rel="import" href="../../bower_components/paper-item/paper-icon-item.html">

<link rel="import" href="../../bower_components/paper-item/paper-item-body.html">
<link rel="import" href="./../common-behavior.html">

<dom-module id="member-defend">

    <template>
        <style>
            paper-icon-item {
                margin-top: 15px;
                background-color: white;
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
            }

            .ranking {
                margin: 0px 25px;
                font-size: 25px;
            }

            .circle {
                height: 64px;
                width: 64px;
                margin-top: 10px;
                line-height: 64px;
                display: inline-block;
                text-align: center;
                color: #555;
                border-radius: 50%;
                background: #ddd;
            }

            paper-button.fight {
                background-color: green;
                color: white;
            }

            paper-button#rock {}

            paper-button#scissors {}

            paper-button#paper {}
        </style>

        <div role="listbox">

            <template is="dom-repeat" items={{dataDefend}}>
                <paper-icon-item>
                    <div class="ranking">
                        [[getIndex(index)]]
                    </div>
                    <div class="avatar blue" slot="item-icon">
                        <img src="[[item.photoURL]]" class="circle" alt="[[item.uid]]">
                    </div>
                    <paper-item-body two-line>
                        <div>[[item.uid]] || [[item.type]]</div>
                        <!--<div secondary>WIN [[item.win]] LOSE [[item.lose]] (DIFF [[item.diff]]) </div>-->
                    </paper-item-body>
                    <!--<div class="avatar blue">-->

                    <template is="dom-if" if={{checkType(item.status,item.type)}}>
                        <paper-button raised style="margin: 10px;" class="fight" item="{{item}}" on-tap="fight">Defend !!!</paper-button>
                    </template>

                    <!--</div>-->
                </paper-icon-item>
            </template>

            <paper-dialog id="modal" style="z-index:1;" modal>
                <h2>Defend !! </h2>
                <p>
                    <div>
                        Please Select Choice Below for Defend!!!
                    </div>
                    <div>
                        Rock, Scissors, and Paper
                    </div>
                </p>
                <div class="buttons" style="border-top:1px solid #ddd">
                    <paper-button raised id="rock" on-tap="getHand" dialog-confirm>
                        <img src="./images/rps/Hand-Rock.png" /></paper-button>
                    <paper-button raised id="scissors" on-tap="getHand" dialog-confirm>
                        <img src="./images/rps/Hand-Peace.png" /></paper-button>
                    <paper-button raised id="paper" on-tap="getHand" dialog-confirm>
                        <img src="./images/rps/Hand.png" /></paper-button>
                </div>
            </paper-dialog>
        </div>

    </template>

    <script>
        class memberDefend extends Polymer.mixinBehaviors([CommonBehavior],Polymer.Element){

            static get is() { return 'member-defend'; }

            static get properties() {
                return {
                    dataDefend: {
                        type: Array,
                        value: [],
                        observer: 'get'
                    },
                    dataUse :{
                        type: Object,
                        value:{}
                    }
                };
            }

            constructor() {
                super();
            }

            ready() {
                super.ready();

                Polymer.RenderStatus.afterNextRender(this, function () {

                });
            }
            checkType(status,attatk) {
                if (status === 'wait' && attatk !== 'attack')//return false
                     return true
            }
            get(lo) {
                console.log(lo);
            }
            getIndex(index) {
                return index + 1
            }
            fight(e) {
                // console.log(e.currentTarget.item);
                this.set('dataUse',e.currentTarget.item)
                this.$.modal.open()
            }
            getHand(e) {
                // console.log(e.currentTarget.id);
                var target = e.currentTarget;
                let data =  {
                    key:  this.dataUse.$key,
                    ref:  this.dataUse.ref,
                    answer: target.id
                }
                // console.log(data);
                this.fire('action-defend',Object.assign({},this.userSelected,{answer:data}))
            }

        }

        window.customElements.define(memberDefend.is, memberDefend);
    </script>
</dom-module>