<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="./../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="./../../bower_components/paper-item/paper-item.html">
<link rel="import" href="./../../bower_components/paper-progress/paper-progress.html">
<link rel="import" href="./../../bower_components/paper-button/paper-button.html">
<link rel="import" href="./../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="./../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="./../common-behavior.html">
<link rel="import" href="./../../bower_components/iron-icons/social-icons.html">
<link rel="import" href="./../../bower_components/iron-icons/maps-icons.html">

<link rel="import" href="./../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">

<link rel="import" href="./../../bower_components/paper-toast/paper-toast.html">

<!--<link rel="import" href="../layout/shared-styles.html">-->
<link rel="import" href="../my-icons.html">


<dom-module id="my-layout">
    <template>
        <style>
            app-toolbar {
                margin-bottom: 20px;
            }

            paper-icon-button {
                --paper-icon-button-ink-color: white;
            }

            paper-icon-button+[main-title] {
                margin-left: 24px;
            }

            paper-progress {
                display: block;
                width: 100%;
                --paper-progress-active-color: rgba(255, 255, 255, 0.5);
                --paper-progress-container-color: transparent;
            }

            app-header {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 132px;
                color: #fff;
                background-color: #4285f4;
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
            }

            app-drawer {
                --app-drawer-scrim-background: rgba(0, 0, 0, 0.8);
                --app-drawer-width: 300px;
                --app-drawer-content-container: {
                    background-color: #f1f1f1;
                }
            }

            .container {
                padding-top: 132px;
            }

            sample-content {
                padding-top: 64px;
            }

            #drawerLayout {
                z-index: 2;
            }

            button {
                background-color: #4285f4;
                /* Green */
                border: none;
                color: white;
                padding: 8px 20px;
                border-radius: 2px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                /*border: 1px solid white;*/
            }

            button:hover {
                cursor: pointer;
            }

            .circle {
                display: inline-block;
                width: 36px;
                height: 36px;
                text-align: center;
                color: #555;
                border-radius: 50%;
                background: #ddd;
                font-size: 30px;
                line-height: 64px;
            }

            .buttons {
                border-top: 1px solid #ddd;
                background-color: #ddd;
            }

            paper-button {
                background-color: #4285f4;
                color: white;
                border: 1px solid #ddd;
            }

            #alignedDialog {
                margin: 0;
            }

            paper-tabs {
                --paper-tabs-selection-bar: {
                    border: 2px solid yellow;
                }
            }

            #toast {
                width: auto;
            }

            body {
                padding: 2em;
            }
            /* Shared */

            .loginBtn {
                box-sizing: border-box;
                position: relative;
                /* width: 13em;  - apply for fixed size */
                margin: 0.2em;
                padding: 0 15px 0 46px;
                border: none;
                text-align: left;
                line-height: 34px;
                white-space: nowrap;
                border-radius: 0.2em;
                font-size: 16px;
                color: #FFF;
            }

            .loginBtn:before {
                content: "";
                box-sizing: border-box;
                position: absolute;
                top: 0;
                left: 0;
                width: 34px;
                height: 100%;
            }

            .loginBtn:focus {
                outline: none;
            }

            .loginBtn:active {
                box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.1);
            }
            /* Facebook */

            .loginBtn--facebook {
                background-color: #4C69BA;
                background-image: linear-gradient(#4C69BA, #3B55A0);
                /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
                text-shadow: 0 -1px 0 #354C8C;
            }

            .loginBtn--facebook:before {
                border-right: #364e92 1px solid;
                background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
            }

            .loginBtn--facebook:hover,
            .loginBtn--facebook:focus {
                background-color: #5B7BD5;
                background-image: linear-gradient(#5B7BD5, #4864B1);
            }
            /* Google */

            .loginBtn--google {
                /*font-family: "Roboto", Roboto, arial, sans-serif;*/
                background: #DD4B39;
            }

            .loginBtn--google:before {
                border-right: #BB3F30 1px solid;
                background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
            }

            .loginBtn--google:hover,
            .loginBtn--google:focus {
                background: #E74B37;
            }
        </style>


        <app-header-layout>
            <app-header style="z-index:1;" fixed condenses effects="waterfall">
                <paper-progress class="red" indeterminate></paper-progress>
                <app-toolbar>

                    <!--<paper-icon-button icon=""></paper-icon-button>-->

                    <div main-title>RPS GAME</div>
                    <!--<a href="">Sign In</a>-->
                    <!--<button on-click="login">Sign In</button>-->
                    <template is="dom-if" if="[[checkUser(user)]]">
                        <button on-click="openDialogLogin">Sign In</button>
                    </template>

                    <template is="dom-if" if="[[!checkUser(user)]]">
                        <img class="circle" src="[[user.photoURL]]" alt="Smiley face" height="42" width="42">
                        <paper-icon-button icon="icons:arrow-drop-down" on-tap="openDialog"></paper-icon-button>

                        <!--<span style="margin-left:5px">[[user.displayName]]</span>
                        <button on-click="logout">Sign Out</button>-->
                    </template>

                    <!--<paper-icon-button icon="search"></paper-icon-button>-->
                </app-toolbar>
                <paper-tabs selected="{{page}}" attr-for-selected="name" sticky>
                    <paper-tab name="tournament">
                        <iron-icon icon="icons:room"></iron-icon> <span style="margin-left:10px">Tournament</span>
                    </paper-tab>
                    <paper-tab name="ranking">
                        <iron-icon icon="social:person"></iron-icon> <span style="margin-left:10px">Attack</span> 
                    </paper-tab>
                    <paper-tab name="defend">
                        <iron-icon icon="icons:pan-tool"></iron-icon> <span style="margin-left:10px">Defend</span> 
                    </paper-tab>
                    <!--<paper-tab>TAB 3</paper-tab>-->
                </paper-tabs>

            </app-header>
         
            <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
                <a name="view1" href="view1">View One</a>
                <a name="view2" href="view2">View Two</a>
                <a name="view3" href="view3">View Three</a>
            </iron-selector>
            <!--<app-drawer-layout id="drawerLayout">
                <app-drawer id="drawer" position="right">
                    <app-toolbar></app-toolbar>
                    <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
                        <a name="view1" href="view1">View One</a>
                        <a name="view2" href="view2">View Two</a>
                        <a name="view3" href="view3">View Three</a>
                    </iron-selector>
                </app-drawer>
            </app-drawer-layout>-->

            <!--<sample-content size="10"></sample-content>-->

            <paper-toast id="toast">
                <iron-icon icon="icons:face"></iron-icon><span style="margin-left:10px">[[toastMessage]]</span>
            </paper-toast>
        </app-header-layout>
         <div class="container">
                <slot></slot>
        </div>
        <!--<template is="dom-if" if="[[checkUser(user)]]">-->
          <paper-dialog id="dialogLogin" style="z-index:3;" opened modal>
                <h2>Please Login.</h2>
                <p>
                    <div style="text-align:center">
                        <button class="loginBtn loginBtn--facebook"  on-click="login">
                        Login with Facebook
                        </button>
                    </div>           
                </p>
            </paper-dialog>
               <paper-dialog id="alignedDialog" no-overlap horizontal-align="right" vertical-align="top">
                <h2>[[user.displayName]]</h2>
                <p>
                    [[user.email]]
                </p>
                <div class="buttons">
                    <paper-button on-tap="logout">Sign Out</paper-button>
                </div>
            </paper-dialog>
        <!--</template>-->
    </template>

    <script>
        class MyLayout extends Polymer.mixinBehaviors([CommonBehavior], Polymer.Element) {

            static get is() { return 'my-layout'; }
            static get properties() {
                return {
                    page: {
                        type:String,
                        observer: '_changePage'
                    },
                    user: {
                        type: Object,
                        value: {},
                        observer: '_userChanged'
                    },
                    toastMessage: {
                        type: String,
                        value: 'Welcome to my app.'
                    }
                }
            }

            ready() {
                super.ready()
                this.$.toast.open()

            }
            checkUser(val) {
                // console.log(val)
                if(val != null){
                    if(Object.keys(val).length != 0) this.$.dialogLogin.close();
                    return Object.keys(val).length == 0;
                }
                else{
                   this.$.dialogLogin.open();
                   return true;
                }
              
            }

            _userChanged(val) {
                // console.log(Object.keys(val).length == 0);
                // return Object.keys(val).length == 0;
              
            }

            login() {
                //console.log(this.page.displayName)
                // this.$.dialogLogin.close();
                this.fire('action-login');
            }
            logout() {
                this.$.alignedDialog.close();
                this.fire('action-signout');
            }
            openDialog(e) {
                console.log(this.user)
                this.$.alignedDialog.positionTarget = e.currentTarget;
                this.$.alignedDialog.open()
            }
            openDialogLogin(){
                this.$.dialogLogin.open();
            }
            _changePage(val){
                // console.log(val)
                this.changePath({path:val})
            }


            // toggleDrawer() {
            //     // console.log(this.$.drawer.open());
            //     this.$.drawer.open();
            // }

        }

        window.customElements.define(MyLayout.is, MyLayout);
    </script>
</dom-module>